.footer {
  background-color: var(--button-hover); /* Dark background */
  color: #ffffff; /* White text */
  text-align: center;
  padding: 40px;
  margin-top: 50px; 
  position: relative;
  bottom: 0;
  width: 100%;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: #e6b400; 
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}
